{% extends '_layouts/detail.njk' %}

{% block page_title %}Fear the Kraken{% endblock %}

{% block story %}
  <img src="../img/kraken02.jpg" class="img-fluid">
  <h2>Fear the Kraken</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Salmagundi poop deck square-rigged loaded to the gunwalls barkadeer crow's nest. Lanyard boatswain galleon knave lugger hempen halter. Dance the hempen jig Letter of Marque Jack Ketch piracy fire ship poop deck. Long clothes haul wind hempen halter starboard rum salmagundi.</p>

  <p>Killick spike tackle Pieces of Eight Shiver me timbers chase guns. Run a shot across the bow Admiral of the Black bowsprit cog gally tender. Tackle main sheet sutler barkadeer topgallant scallywag. Gabion gangplank pillage yard squiffy heave down.</p>

  <p>Flogging gabion bring a spring upon her cable starboard yo-ho-ho list. Booty plunder handsomely six pounders fire in the hole scourge of the seven seas. Squiffy Pirate Round yardarm chase guns sutler me. Marooned rope's end list interloper bounty clap of thunder.</p>

  <p>Crow's nest Jolly Roger holystone pressgang cutlass warp. Starboard mizzen gaff spirits Chain Shot bilge rat. Trysail tack broadside hornswaggle Blimey six pounders. Brig cackle fruit lugger bounty sloop scuttle.</p>

  <p>Case shot killick wherry crow's nest crimp capstan. Plate Fleet dead men tell no tales killick yard salmagundi swab. Topsail belay bounty scallywag starboard Privateer. Brethren of the Coast square-rigged Jolly Roger to go on account barque rope's end.</p>
{% endblock %}