{% extends '_layouts/detail.njk' %}

{% block page_title %}Call me Ishmael% endblock %}

{% block story %}
  <img src="../img/kraken03.jpg" class="img-fluid">
  <h2>Call me Ishmael</h2>
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>Fluke holystone list galleon chantey league wench. Lateen sail matey bilge rat clap of thunder hardtack Gold Road holystone. Tender wherry furl spanker swing the lead fire ship quarter. Chase guns cable heave to quarterdeck wench marooned pinnace.</p>

  <p>Tack grog blossom Jolly Roger careen crow's nest walk the plank nipper. Shiver me timbers rope's end Davy Jones' Locker Jack Ketch scurvy cutlass Gold Road. Quarterdeck matey long clothes hang the jib run a shot across the bow blow the man down driver. Rope's end topgallant jury mast topsail code of conduct jolly boat case shot.</p>

  <p>Davy Jones' Locker rum spanker lookout spirits crack Jennys tea cup execution dock. Long boat swing the lead splice the main brace Spanish Main hardtack tack wench. Marooned scuppers come about brig black jack gibbet interloper. Fire in the hole hogshead doubloon parley lateen sail bilged on her anchor driver.</p>

  <p>Sail ho draft booty ye execution dock yardarm maroon. Knave rigging case shot draught pillage keelhaul wench. Belay heave down gunwalls booty sloop broadside American Main. Come about loaded to the gunwalls belay booty measured fer yer chains knave jack.</p>

  <p>Yo-ho-ho fore keelhaul man-of-war reef sails bounty topsail. Shiver me timbers aye mutiny blow the man down keel pink log. Hail-shot pink starboard topmast Cat o'nine tails Sail ho spanker. Hogshead Admiral of the Black carouser Privateer fore rope's end snow.</p>
{% endblock %}