{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
      <h1>The Ship's Log</h1>
      <p>
        Welcome to the blog of Captain Crit McGillicutty. Join him in his travels across the sea as he encounters storms, a lazy crew, and ship battles. 
      </p>
      <ul> 
        {% for entry in data.entries %}
          <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
        {% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
